* {
    box-sizing: border-box;
  
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background-color: #676767;
    max-width: 1921px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background-color: #41669b;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 5px;
    padding-left: 10px;
    height: 77px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: -5px;
}

p {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    -webkit-margin-before: 10px;
    margin-left: auto;
    margin-right: auto;
    -webkit-padding-start: 0;
    -webkit-margin-after: 0px;
    line-height: 16pt;
    width: 90%;
    color: black;
}


.container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;

}

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    width: 90%;
    max-height: 200px;
}

.item {
	width: 100%;
	float: left;
    border: 1px solid #333333;
    margin-left: auto;
    margin-right: auto;
    background-color: #CDCDCD;
}

section:hover {
	
    background-color: #DEDEDE;
	
}

h1:hover {
    background-color: #5277ac;
}


/**********End Small (Global)*/

/************Small**************/
@media only screen and (min-width: 300px) and (max-width: 599px) {
	.item {
        margin-top: 10px;


    }

    h1 {
font-size: 24px;

    }
    p {
        font-size: 17px;
        line-height: 19pt;
        margin-bottom: 5px;

    }

    img {
        max-width: 60%;
    }
}

/**********End Small************/

/************Mid**************/
@media only screen and (min-width: 600px) and (max-width: 999px) {
	.item {
        width: 49%;
        margin-right: auto;
        margin-top: 10px;
    }

    h1 {
        font-size: 23px;
        
            }
    p {
        font-size: 17px;
        line-height: 18pt;
        margin-bottom: 5px;
    }

}

/**********End Mid************/

/***********Large*************/
@media only screen and (min-width: 1000px) and (max-width: 1439px){
	.item {
        width: 32.3%;
        margin-top: 10px;
        margin-left: 0.5%;
        margin-right: 0.5%;
        
       
    }
    p {
        font-size: 17px;
        line-height: 17pt;
        margin-bottom: 5px;
    }
}

/*********End Large***********/

/************XL**************/
@media only screen and (min-width: 1440px) {
	.container {
		max-width: 1920px;
        margin: 0 auto;

    }

    p {
        font-size: 17px;
        line-height: 16pt;
        margin-bottom: 5px;
    }

	.item {
        width: 24%;
        margin-top: 10px;
	}
}

/**********End XL************/
